.App {
  text-align: center;
}
.eyes {
  width: 10em;
}

.showInfo {
  padding-left: 1em;
}

.reader {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.readerButtons{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
}

.splashTitle {
  margin-bottom: 1em;
  padding-top: 2em;
  text-align: center;
  background-image:url('./assets/hands.bmp');
  height: 8em;
  color: #630000;
  font-size: 300%;
  -webkit-text-stroke: 2px white;
}

.searchForm {
  margin: 0 auto;
}

body {
  background-color: #630000 ;
  height: 100%;
  width: 100%
}

.drawerwrap {
  background-color: black;
}

.notSidebar {
  height: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 1em;
  padding: 1em;
  min-height: calc(100vh - 1em);

}

.fullwrap {
  background-color: white;
  min-height: calc(100vh - 10px);
  min-width: calc(100vh - 10px);
  margin-top: 5px;
  border-radius: 40px;
  background-color: #630000;
}

.cover {
  max-width: 80%;
  margin: 0 auto;
}

.logforms {
  margin: 0 auto;
  padding-left: 2em;
}

.readerPage {
  max-width: 80%;
  padding-bottom: 1em;
}

.title {
  font-size: 300%;
}

.subtitle {
  font-size: 150%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
